@page
@model BPOI_HUB.Pages.Menu.LibrariesModel
@{
    ViewData["Title"] = "Libraries";
}

<br />

<div class="row">
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/bpoi_logo_small.png"
                         alt=""
                         style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1"><a href="/Libraries/bpoi_forms_and_templates">BPOI Forms And Templates</a></p>
                        <p class="text-muted mb-0">Forms And Templates Library</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/software.png"
                         alt=""
                         style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1"><a href="/Libraries/software">Software</a></p>
                        <p class="text-muted mb-0">Software Library</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/coming_soon.jpg"
                         alt=""
                         style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Work Instructions</p>
                        <p class="text-muted mb-0">Work Instructions Library<br />Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/coming_soon.jpg"
                         alt=""
                         style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Manuals</p>
                        <p class="text-muted mb-0">User Manuals Library<br />Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>