@page
@model BPOI_HUB.Pages.Menu.ServiceRequestModel
@{
    ViewData["Title"] = "Service Request";
}

<br />

<div class="row">
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/jeonsoft.jpg"
                         alt=""
                         style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Additional JPS License</p>
                        <p class="text-muted mb-0">JPS License Request<br />Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/unlock.png"
                         alt=""
                         style="width: 150px; height: 100px" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Unlock Account</p>
                        <p class="text-muted mb-0">Unlock User Account<br />Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/resetpw.png"
                         alt=""
                         style="width: 150px; height: 100px"/>
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Reset Password</p>
                        <p class="text-muted mb-0">Reset User Password<br />Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/img/coming_soon.jpg"
                         alt=""
                         style="width: 150px; height: 100px"/>
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Request For Change</p>
                        <p class="text-muted mb-0">Request For Change By User<br />Coming Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>